<nav class="navbar">
  <div class="navbar-brand">
    <img src="/img/chell-logo.png" alt="Chell" class="navbar-logo">
    <span class="navbar-name">Chell <span class="navbar-dash">Dashboard</span></span>
  </div>
  <div class="navbar-links">
    <% if (user) { %>
      <a href="/dashboard" class="nav-link"><i class="fa-solid fa-grid-2"></i> Mes serveurs</a>
      <div class="nav-user">
        <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.webp?size=64" alt="<%= user.username %>" class="nav-avatar">
        <span class="nav-username"><%= user.username %></span>
        <a href="/logout" class="nav-logout" title="Déconnexion"><i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
    <% } else { %>
      <a href="/login" class="btn btn-primary"><i class="fab fa-discord"></i> Connexion Discord</a>
    <% } %>
  </div>
</nav>
